coverage


*.rbc
*.sassc
.sass-cache
capybara-*.html
.rvmrc
/.bundle
/vendor/bundle
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.DS_Store
.env
# Ignore application configuration
/config/application.yml
*.dump
*.pid


# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.DS_Store
rules.yml