coverage


*.rbc
*.sassc
.sass-cache
capybara-*.html
.rvmrc
/.bundle
/vendor/bundle
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.DS_Store
.env
# Ignore application configuration
/config/application.yml
*.dump
*.pid